@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

/* Css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
/* background-color: #f4f5f3; */
    min-height: 200vh;
}

.outer-container{
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    /* position: relative; */

}

.inner-container{
    border: 2px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
    /* position: relative; */


}

.box{
    width: 150px;
    height: 150px;
    color: rgb(255, 255, 255);
    padding: 1rem;
    /* background-color: yellowgreen; */
    /* border: 2px dashed yellow; */
}

.absolute{
    background-color:blue;
    position: absolute;
    /* top: 100px;
    left: 150px; */
    top: 0;
    left: 250px;
    z-index: 1;
}


.relative{
    background-color: red;
    position: relative;
    top: 200px;
    left: 150px;

}

.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
}

.sticky {
    background-color: yellow;
    position: sticky;
    top: 20px;
}


/* Second Part */

section{
    height: 100vh;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

header,footer{
    color:white;
    text-align: center;
    height: 100px;
}

header{
    position: sticky;
    top: 0;
    font-size: 5rem;

}

footer{
    width: 100%;
    text-align:center;
    background-color:black ;
    /* position: fixed; */
    position: sticky;
    bottom: 0;
}

/* footer a {
    color: white;
} */

a:visited{
    color: yellow;
}
a:active{
    color: red;
}

.social{
    border-radius: 5px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 10px;
    z-index: 1;
}

.social:focus{
    color: aqua;
    border: 5px dashed black;
}
html{
    scroll-behavior: smooth;
}